.object {
  position: absolute;
  bottom:10vw;
}

.object.title {
  display: none;
  left: 25vw;
  width: 45vw; height: 30vw;
  background-image: url('../images/object/title.png');
  background-size: cover;
}

.object.pannel-1 {
  left: 50vw;
  width: 45vw; height: 30vw;
  background-image: url('../images/object/pannel1.png');
  background-size: cover;
  font-size: 2.5vw
}