.profile-app {
  font-family: pixel;
  width: 100vw;
  height: 56.2vw;
  background-image: url('../images/background/1.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-backgroind-size: cover;  
}