.profile-app {
  font-family: pixel;
  font-size:40px;
  .block-1 {
    width: 200px; height: 200px;
    background-color: black;
  }
  .block-2 {
    width: 100px; height: 300px;
    background-color: red;
  }
}