.stage {
  z-index:2;
  position: absolute; bottom:0;
  width:100vw; height:10.416vw;
  background: url('../images/object/floor.png');
  background-repeat: repeat-x; //배경 이미지 반복 여부 : 가로 
  background-size: 31.25vw 10.416vw;

  &.move.right {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: stage-move-right;
    animation-timing-function: linear;
    animation-play-state: revert;
  }
  &.move.left { 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: stage-move-left;
    animation-timing-function: linear;
    animation-play-state: running;
  }
  &.paused.right {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: stage-move-right;
    animation-timing-function: linear;
    animation-play-state: paused;
  }
  &.paused.left { 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: stage-move-left;
    animation-timing-function: linear;
    animation-play-state: paused;
  }
}


@keyframes stage-move-left {
  0%		    { background-position:0 0;}
  100%			{ background-position:31.25vw 0;}
}

@keyframes stage-move-right {
  0%		    { background-position:31.25vw 0;}
  100%			{ background-position:0 0;}
}